{% load static %}
<style>    
    body{
        justify-content: center;
        display: flex;
        align-items: center;
        min-height: 100vh;
        background: url("{% static 'assets/img/chips.jpg' %}") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .wrapper{
        width: 420px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        color: white;
        border-radius: 12px;
        padding: 30px 40px;
    }
    .wrapper .message{
        color: red;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-size: 20px;
        } 
    .wrapper h1{
        font-size: 36px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .wrapper a{
        text-decoration: none;
        color: blue;
        font-size: 16px;
    }

</style>
<div class="wrapper">
    <h1>Password reset complete</h1>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <a href="/login">Login</a>
</div>